<div class="wrapper">
  <div class="main-content">
    <%= render :partial => "shared/header" %>
    
    <%= render :partial => "search_form" %>
    
    <div class="drinks-list">
      <%= render :partial => "drinks_list" %>
    </div>
  </div>
  
  <div class="sidebar-form">
    <%= render :partial => "sidebar_form" %>
  </div>
</div>
