@font-face {
  font-family: "Buffalo Regular";
  src: font-url("Buffalo.otf");
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 360px;
}

.header__title {
  font-family: "Buffalo Regular";
  font-size: 100px;
  color: #fff;
}

.gradient {
  background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);
}

.icon {
  width: 160px;
  height: 160px;
}

.searcher {
  margin-top: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.searcher__radio {
  display: flex;
  justify-content: space-between;

  width: 320px;
}

.simple-form {
  margin-top: 20px;
  display: flex;
}

.simple-form__input {
  width: 400px;
}

.simple-form__btn {
  margin-left: 10px;
}

.advanced-form {
  margin-top: 20px;
}

.drinks-list {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink-card {
  margin-bottom: 20px;
  padding: 20px;
  width: 820px;
  display: flex;
  flex-direction: row;
}

.drink-card__img {
  max-width: 100%;
  height: auto;
  width: 200px;
	object-fit: cover;
  border-radius: 0.25em;
}

.drink-card__body {
	float: right;
  margin-left: 30px;
}

.pagination {
  margin-top: 10px;
}




#menu {
    width: 30%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

/* Slider */

#lblAlchool {
    margin-top: 10px;
    display: block;
}

#alchoolLevel .slider-selection {
    background: #BABABA;
}

/* End slider */

/* Sidebar */

#sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 350px;
    background: #000000;
    color: #fff;
    opacity: 0.9;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    border-radius: 0 15px 15px 0;
}

#sidebar.active {
    margin-left: -80%;
    transform: rotateY(100deg);
}

/* End sidebar */

.sidebar-form__button {
    height: 50px;
    width: 50px;
    background-color: #000000;
    opacity: 0.9;
    border-radius: 0 5px 5px 0;
}

/* Menu button */

.menu__button {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    z-index: 0;
    margin: 15% auto;
}

.menu__button .bit-1::before {
    content: '';
    left: 0.5em;
    top: 0.5em;
    position: absolute;
    width: 1em;
    transform-origin: left bottom;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.menu__button .bit-1::after {
    content: '';
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    transform-origin: right bottom;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.menu__button .bit-2 {
    position: absolute;
    width: 1.5em;
    top: 50%;
    left: 50%;
    height: 0.3em;
    background: #2E313C;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}

.menu__button .bit-3::before {
    content: '';
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    transform-origin: left top;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}

.menu__button .bit-3::after {
    content: '';
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 1em;
    transform-origin: right top;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}

.menu__button.open .bit-1:before {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: left bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.menu__button.open .bit-1:after {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.menu__button.open .bit-2 {
    width: 0.3em;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s 0.3s, width 0.3s;
}

.menu__button.open .bit-3:before {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: left top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu__button.open .bit-3:after {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: right top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

/* End Menu button */